@charset "utf-8";
/* CSS Document */

h2{text-align: center;color:#13F732}
.p2{color: #E01A1D;text-transform: lowercase}
#p3{background-color:#120DE6;color: #0AECD1;text-align:center;border:solid #EE0AE1}
