@charset "utf-8";
/* CSS Document */
img{border-bottom:double#3333cc;border-top:solid 2px}
h2{text-align:center;text-decoration:line-through}
#p1{color:#1E1EE7;text-transform:capitalize;}
.p2{background-color:#13D0DE;color:#E905DC;text-align:center;border: solid #F7060A}

